*, p, h1, h2, h3, h4, h5, h6{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  box-sizing: border-box;
}

.App{
  width: 100vw;
  min-height: 100vh;
/*  background-image: url('./assets/fondo-ecomercee.jpeg');*/
  background-color: rgb(139, 139, 139);
}

