 
 .shop{
     width: 80%;
     height: 100%;
     margin-left: 10%;
     height: auto;
     position: relative;
     background-color: red;
     margin-top: 20px;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     flex-wrap: wrap;

 }


 .productCard{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 200px;
    height: 300px;
    position: relative;
    background-color: whitesmoke;
    /*background-image: url(../../assets/guitarra1-1.png);*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
 }


 