.product-cart{
    width: 90%;
    height: 80%;
    background-color: red;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}